*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, legend, footer input{
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family: 'Poppins', sans-serif;
  background: #BFD7E4;
  width: 100%;
  min-width: 1440px;
  height: 1930px;
  margin: 6px 0 0 0;
}

body::before{
  content: '';
  width: 100%;
  min-width: 1440px;
  height: 465px;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #293241;
}

.page{
  width: 750px;
  height: 1075px;
  margin: auto;
  align-items: center;
}

header{
  width: 100%;

  margin-top: 101px;
  margin-bottom: 5px;
  
  text-align: center;
  color: #FFFFFF;
}

header h1{
  height: 45px;
  font-size: 36px;
  line-height: 45px;
  margin: 0;
}

header p{
  height: 46px;
  font-size: 16px;
  line-height: 24px; 
  margin-bottom: 2px;
}

header img{
  width: 225px;
  height: 100px;
  margin-bottom: 26px;
}

/*
header .line::before {
  width: 750px;
  height: 133px;

  content: '';
  margin: 0;
  
  position: absolute;
  top: 326px;
  left: 345px;
  z-index: -1;
  border: 0px solid #293241;
  border-radius: 20px 20px 0px 0px;
  background: #F67669;

}

header h2{
  height: 33px;
  font-size: 24px;
  line-height: 34px;
  margin: 50px auto 56px auto;
  color: #FFFFFF;
}

*/

.line{
  position: relative;
  object-fit: cover;
  width: 750px;
  height: 133px;

  border: 0px solid #293241;
  border-radius: 20px 20px 0px 0px;
  background: #F67669;
}

.line h2{
  height: 33px;
  font-size: 24px;
  line-height: 34px;
  padding: 50px;
  
  color: #FFFFFF;
}

form{
  width: 750px;
  background: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
  padding: 24px 64px;
}

fieldset{
  border: none;
}

.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset legend{
  font-size: 24px;
  line-height: 34px;
  text-align: center;

  color: #253B51;

  margin-top: 36px;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper label,
.select-wrapper label{
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
}

.input-wrapper label span {
  font-size: 12px;
  line-height: 20px;

  color: #C1BCCC;
}

.input-wrapper label span:hover{
  color: #6c6a71;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper  textarea{
  height: 36px;
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.input-wrapper textarea {
  padding: 0;

  height: 160px;
}

.input-wrapper select{
  width: 300px;
  padding-left: 16px;
  appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;

}

.col-2 {
  display: flex;
  gap: 22px;
}

.col-2 > div:nth-child(1),
.col-2 > div:nth-child(2){
  width: 50%;
}

.col-3{
  display: flex;
  gap: 18px; 
}

.col-3 > div:nth-child(1){
  width: 100%;
}


.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label{
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.checkbox-wrapper input{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  opacity: 0;
}

.checkbox-wrapper label::before{
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before{
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

.button input{
  width: 622px;
  height: 51px;
  border: 0;
  border-radius: 8px;
  margin: 64px 0 76px;
  background: #F67669;
}